*{
    margin:0;
    padding:0;
}
body{
 font-family: "Poppins", sans-serif;
 font-weight: 400;
}
      
.nav{
    background-color: pink;
    padding: 10px;

}
h1{
    font-size: 2em;
    padding-left: 20px;
    padding-top: 15px;
}

.container{
    padding: 10px;

    }
    .book{
        width: 250px;
        padding: 20px;
        background-color: black;
        color: aliceblue;
        border-radius: 10px;
        margin: 20px;
        display: inline-block;
        vertical-align: top;
    }
    .book h2{
        color: pink;
    }
    .book h4{
        color: darkred;
    }

    .one{
        color: black;
        background-color: pink;
        width: 70px;
        height: 30px;
        border-radius: 15px;
        font-size: 1em;
        margin-top: 10px;
    }
    .wm{
        display: flex;
        margin-top: 10px;
        color: black;
        background-color: pink;
        border-radius: 100px;
        padding-left: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 30px;
        font-size: 40px;
        margin-right: 20px;
    }

    .two{
        display: flex;
        justify-content: flex-end;
    }

    .overlay{
       background-color: black;
       position:absolute;
       opacity: 0.8;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       z-index: 2;
       display:none;
    }
.overebox{
    background-color: red;
    width: 40%;
    padding: 40px;
    border-radius: 20px;
    position:absolute;
    top: 20%;
    left: 30%;
    z-index: 3;
    display: none;
}
.place input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
    border-bottom: solid black 2px;

}
.place textarea{
    background: transparent;
    border: none;
    width: 90%;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
    border: solid black 2px;
}

.noo{
    font-size: 1em;
    padding: 7px;
    margin: 5px;
    background-color: black;
    color: aliceblue;

}
.place input::placeholder{
    color: black;
}

.place textarea::placeholder{
    color: black;
}

.place input:focus{
    outline: none;
}

.place textarea:focus{
    outline: none;
}






